#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

set -o vi

# Fix for rendering issues with NVIM running on TMUX inside devcontainer
if [[ $LOGNAME == "vscode" && $TERM_PROGRAM == "TMUX" ]]; then
  export TMUX=1
fi
export PATH="$PATH:$HOME/scripts:$HOME/.cargo/bin:/usr/local/bin:$HOME/.local/bin"
# List dotfiles first when using ls
export LC_COLLATE="C"
export EDITOR=nvim

####################
##### ALIASES ######
####################

alias ls='lsd --color=auto --group-directories-first'
alias la='lsd -lah --color=auto --group-directories-first'
alias grep='grep --color=auto'
# kubectl
alias k='kubectl'
# Chezmoi
alias cz='chezmoi'
alias cza='chezmoi add'

####################
#### FUNCTIONS #####
####################

#export MANPAGER="bat -plman"
function man {
  /usr/bin/man "$1" | bat -plman
}

{{- if eq .chezmoi.username "vscode" }}
eval "$(mise activate bash)"
{{- end }}

# must source after mise activate to ensure binary is available
source <(kubectl completion bash)
complete -F __start_kubectl k

# Execute oh-my-posh with given theme
eval "$(oh-my-posh init bash --config "$HOME"/.config/omp/gruvbox-material.omp.json)"
