[tools]
bat = "latest"
chezmoi = "latest"
imagemagick = "latest"
lsd = "latest"
fzf = "latest"
neovim = "latest"
ripgrep = "latest"
tree-sitter = "latest"
gh = "latest"
kubectl = "latest"
fd = "latest"
flux2 = "latest"
lazygit = "latest"

{{- if eq .chezmoi.username "vscode" }}
[settings]
trusted_config_paths = [
  '/workspaces/'
]
{{- end }}
